.module-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1500px;
    width: 90%;
    top: 10px;
    margin: 0 auto;
    
}
/* .one{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
} */