.progress-container .progress-step-container {
    max-width: 1500px;
    width: 90%;
    top: 10px;
    margin: 0 auto;
    /* position: relative; */
}

.progress-step-container {
    border-right: 1px solid black;
}

.progress-bullet {
    translate:none;
}
pre.doNotLimitHeight {
    max-height: none;
  }


.progress-step-container{
    width:100vw;
    margin:0;
    /* border: 2px solid red; */
}

.bar{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

