.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:100px;
    
}

.progress-container {
  height: 25px;
  width: 100%;
  // margin-bottom: 20px;
  

  .progress-step-container {
    max-width: 1440px;
    width: 100%;
    top: 10px;
    // margin: 0 auto;
    // position: relative;
  }

  .progress-line-container {
    background-color: #F5F5F5;
    height: 20px;
    width: 100%;

    .progress-line {
      background: #6FD0A2 !important;
      height: 20px;
      width: 100%;
      transition: all 0.2s linear;
      border-right: 80px solid#D1F6D1;
    }
  }

  .progress-bullet-container {
    // background: black;
    // border:2px solid red;
    width: 1;
    height: 0;
    overflow: visible;
    position: relative;
    display: block;

    .progress-bullet {
      width: 1;
      height: 30px ;
      // background: gray !important;
      
      border-radius: 2px;
      transform: translate(-10px, -10px);
      transition: all 0.4s linear;
    }

    .progress-bullet.active {
      background-color: #1fc477;
    }
  }
}

div.progress-bullet{
  width:5px !important;
}

// div.progress-bullet.progress-bullet {
//   border: 2px solid #375762;

// }

// div.progress-bullet.progress-bullet.active {
//   color: solid green;
//   width:10px;
// }
//!moduleBar styles start here

div.one{
    
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    color: #375762;
    
}

.module-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // max-width: 1440px;
    // width:1440px;
    // top: 64px;
    margin:0;
    background-color: rgb(246, 246, 247);
    // position: absolute;
width: 1440px;
height: 64px;
left: 0px;
top: 64px;
}